{% extends 'base.html.twig' %}

{% block title %}Nouvelle série{% endblock %}

{% block body %}
    <h1>Nouvelle série</h1>

    {{ include('series/_form.html.twig') }}

<<<<<<< HEAD

=======
    <a href="{{ path('app_series_index') }}">Retour à la liste</a>
>>>>>>> adedb8baf (push before merging main into our branch)
{% endblock %}
